Source: ros-rolling-geodesy
Section: misc
Priority: optional
Maintainer: Jack O'Quin <jack.oquin@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-catkin-pkg, python3-pyproj, ros-rolling-ament-cmake, ros-rolling-angles, ros-rolling-geographic-msgs, ros-rolling-geometry-msgs, ros-rolling-sensor-msgs, ros-rolling-unique-identifier-msgs, ros-rolling-ros-workspace
Homepage: http://wiki.ros.org/geodesy
Standards-Version: 3.9.2

Package: ros-rolling-geodesy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-pyproj, ros-rolling-angles, ros-rolling-geographic-msgs, ros-rolling-geometry-msgs, ros-rolling-sensor-msgs, ros-rolling-unique-identifier-msgs, ros-rolling-ros-workspace
Description: Python and C++ interfaces for manipulating geodetic coordinates.
